/* =========================
   ESTILOS GLOBAIS (Tablet / Desktop)
   ========================= */
@media (min-width: 768px) {
  header {
    flex-direction: row;
  }

  .menu-toggle {
    display: none;
  }

  nav {
    display: flex;
    justify-content: end;
    flex-direction: row;
    background: transparent;
    margin-left: auto;
  }

  nav a {
    border: none;
    margin-left: 20px;
  }

  .hero {
    padding: 100px 20px;
  }

  .hero h1 {
    font-size: 40px;
  }

  /* Serviços em grid */
  .servicos .card {
    max-width: 300px;
    margin: auto;
  }

  .servicos .card:not(:last-child) {
    margin-bottom: 0;
  }

  .servicos {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 992px) {
  .servicos {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 80px 60px;
  }

  .servicos h2 {
    grid-column: span 3;
    margin-bottom: 40px;
    font-size: 32px;
  }

  .sobre p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
  }
}
