/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --fundo-principal:#0b1d33; /* Azul Noturno */
    --destaque-icone: #f28c28; /* Laranja Energia */
    --texto-principal: #ffffff; /* Branco Puro */
    --texto-secundario: #b0b8c1; /* Cinza neutro */
    --destaque-suave: #1e90ff; /* Azul Claro */
}

header {
    position: static;
}

section.hero-saiba h2 {
    font-size: 5em;
}
section.hero-sabia p {
    font-size: 3em;
}