@charset "UTF-8";

header {
  position: static;
}

body {
    background: linear-gradient(80deg, #0b1d33 0%, #11294f 100%);
    color: #fff;
}

#sobre,
.sobre-container {
  background:#fff;
  border-radius: 5px;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  padding: 80px 40px;
}

.hero-sobre h2 {
  font-size: 80px;
  margin-bottom: 10px;
  color: var(--texto-principal);
  text-align: center;
}

.hero-sobre p {
  font-size: 35px;
  color: #d7d7d7;
  text-align: center;
}

.sobre-container {
  max-width: 1100px;
  margin: 60px auto;
  padding: 0 20px;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.sobre-container h2 {
  font-size: 28px;
}

.sobre-container p {
  font-size: 30px;
}

.sobre-conteudo {
  flex: 1;
  color: #0B1D33;
  line-height: 1.7;
}

.sobre-conteudo h2 {
  color: #F37021;
  margin-bottom: 15px;
}

.sobre-conteudo p {
  margin-bottom: 1.2rem;
  color: var(--fundo-principal);
  font-size: 1em;
}

