@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

*{
margin:0;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --fundo-principal:#0b1d33; /* Azul Noturno */
  --destaque-icone: #f28c28; /* Laranja Energia */
  --texto-principal: #ffffff; /* Branco Puro */
  --texto-secundario: #b0b8c1; /* Cinza neutro */
  --destaque-suave: #1e90ff; /* Azul Claro */
  --sombra-leve: rgba(0, 0, 0, 0.15);
}

body {
  background: var(--texto-principal);
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
  
}

/*header - cabeçalho */ 
header {
  background: var(--fundo-principal);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  box-shadow: 0 4px 8px var(--sombra-leve);
  position: sticky;
  top: 0;
  z-index: 10;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--texto-principal);
  font-size: 20px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  font-weight: 500;
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -4px;
  background: var(--destaque-icone);
  transition: width 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav a.ativo {
  color: var(--destaque-icone);
}

.menu-btn {
  display: none;
}

.bth-header {
  background: linear-gradient(90deg, #f97316, #f28c28);
  color: var(--texto-principal);
  padding: 10px 22px;
  border-radius: 6px;
  font-weight: bold;
  transition: transform 0.2s ease;
}

.bth-header:hover {
  transform: translateY(-2px);
  background: var(--destaque-suave);
}

/* section - hero */
.hero {
  background: linear-gradient(180deg, #0b1d33 0%, #11294f 100%);
  color: var(--texto-principal);
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: clamp(2.5em, 8vw, 6em);
  font-weight: 900;
  letter-spacing: -1px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.6rem;
  margin-bottom: 25px;
  color: var(--texto-secundario);
}

.bth-hero {
  background: linear-gradient(90deg, #f97316, #f28c28);
  color: #fff;
  padding: 14px 36px;
  border-radius: 8px;
  font-weight: bold;
  transition: transform 0.2s ease;
}

.bth-hero:hover {
  transform: translateY(-3px);
  background: var(--destaque-suave);
}

/* section - servicos */
#servicos {
  font-size: 38px;
  padding: 60px 20px;
  background: var(--texto-principal);
  text-align: center;
}

#servicos h2 {
  font-weight: bold;
  margin-bottom: 32px;
  color: var(--fundo-principal);
  text-align: center;
}

#servicos h3 {
  font-size: 40px;
  font-weight: bolder;
  color: var(--fundo-principal);
  margin-bottom: 10px;
}

#servicos p {
  font-size: 20px;
  color: #555;
}

.grid-servicos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  min-width: 110px;
  margin: auto;    
}

.imagem {
  width: 50%;
  height: auto;
  margin: auto;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}

.imagem:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease;
}

div.grid-servicos div {
    background-color: #fcfcfc;
    box-shadow: 0px 0px 1px var(--sombra-leve);
    border-radius: 5px;
    padding: 4px;
}

/* section - sobre */
#sobre {
  background: #1e3a5f;
  color: var(--texto-principal);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px;
  padding: 60px 20px;
}

#sobre img {
  width: 100%;
  border-radius: 8px;
}

.sobre-texto h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.sobre-texto p{
  text-indent: 20px;
  font-size: 18px;
  line-height: 1.5;
}

/* rodapé */
footer {
  background: var(--fundo-principal);
  color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  flex-wrap: wrap;
  box-shadow: 0 -3px 6px rgba(0,0,0,0.2);
}

footer .logo svg {
  height: 50px;
}

footer nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

footer a:hover {
  color: var(--destaque-icone);
}

footer p {
  font-size: 0.9rem;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

/* */

/* servico-web servico-marketing servico-suporte */

.servico-detalhe {
  max-width: 800px;
  margin: 0 auto;
  padding: 32px 16px;
  text-align: center;
  color: #0B1D33;
}

.servico-detalhe i.icone-servico {
  font-size: 48px;
  color: #F4741E;
  margin-bottom: 16px;
}

.servico-detalhe h1 {
  font-size: 32px;
  margin-bottom: 16px;
}

.servico-detalhe p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #444;
  margin-bottom: 16px;
}

.servico-detalhe ul {
  list-style: none;
  padding: 0;
  margin: 16px 0px;
}

.servico-detalhe li {
  padding: 8px 0px;
  border-bottom: 1px solid #eee;
}



.btn-voltar {
  display: inline-block;
  margin-top: 1.5em;
  padding: 0.7em 1.2em;
  background: #F4741E;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-voltar:hover {
  background: #0B1D33;
}

/* Blog e post */

.hero-blog {
  background-color: #0B1D33;
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.hero-blog h2 {
    font-size: 48px;
}

.hero-blog p {
    font-size: 2em;
}

.blog-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 0 20px;
}

.post {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #fff;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.post-img {
  width: 180px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.post-text h3 {
  color: #0B1D33;
  font-size: 1.4rem;
}

.post-text p {
  color: #444;
  margin: 10px 0 15px;
}

.post-hero {
  background-color: #0B1D33;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.post-content {
  max-width: 800px;
  margin: 50px auto;
  padding: 0 20px;
  color: #333;
  line-height: 1.6;
}

.post-content .imagem {
  display: block;
  margin: 0 auto 30px;
  max-width: 100%;
  border-radius: 10px;
}

/* saiba mais */
/* ===== Seção Hero ===== */
.hero-saiba {
  background: #0B1D33;
  color: white;
  text-align: center;
  padding: 80px 20px 60px;
}

.hero-saiba h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #F37021;
}

.hero-saiba p {
  font-size: 1.1rem;
  color: #d7d7d7;
}

/* ===== Conteúdo Saiba Mais ===== */
.saiba-container {
  max-width: 1100px;
  margin: 60px auto;
  padding: 0 20px;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.saiba-conteudo {
  flex: 1;
  color: #0B1D33;
  line-height: 1.7;
}

.saiba-conteudo h2 {
  color: #F37021;
  margin-bottom: 15px;
}

.saiba-conteudo p {
  margin-bottom: 1.2rem;
  color: #333;
  font-size: 1rem;
}

.saiba-img {
  flex: 1;
  text-align: center;
}

.saiba-img img {
  width: 90%;
  max-width: 420px;
  border-radius: 10px;
  box-shadow: 4px -6px 3px rgba(0, 0, 0, 0.271);
}




